<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <main>
        <%- include('../partials/header.ejs') %> 
        <div>
            <div style="display: flex;justify-content: center;">
                <article class="card text-center" style="width: 18rem">
                    <div class="card-body">
                        <form action="/user/signup" method="POST">
                            <fieldset>
                                <legend>New User</legend>
                                <label>
                                    USERNAME: <input type="text" name="username" required>
                                </label>
                                <label>
                                        PASSWORD: <input type="password" name="password" required>
                                </label>
                                <input class="btn btn-outline-success" style="margin-top: 10px;" type="submit" value="Create Account">
                            </fieldset>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </main>
</body>
</html>