<header>
    <a href="/animals" class="list-group-item-action" style="text-decoration: none;">
        <h1 class="display-1">
            <small class="text-muted">@(^.^)@</small> Animals <small class="text-muted">@(^.^)@</small>
        </h1>
    </a>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>“Until one has loved an animal, a part of one's soul remains unawakened.”</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            <cite title="Source Title">Anatole France</cite>
          </figcaption>
    </figure>
</header>