label {
    display: block;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0;
}

html > * { 
    font-family: Roboto;
}

header {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}