#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(167, 167, 167);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(38,19,46);
  background: linear-gradient(342deg, rgba(38,19,46,1) 0%, rgba(134,64,99,1) 100%);
}

main {
  display: flex;
  background: rgba(9, 31, 38, 0.201);
  border-radius: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
}

.navbar-element {
  width: 75%;
  height: 10%;
  transition: 0.1s ease;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.navbar-element:hover {
  color: #eeeeee;
  background: #8383833e;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 65vw;
}

.top-row {
  display: flex;
  height: 33%;
  width: 95%;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(97, 120, 121, 0.132);
  /* border-radius: 20px; */
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card:first-child {
  border-top-left-radius: 20px;
}

.card:last-child {
  border-top-right-radius: 20px;
}

.card:hover {
  background: rgba(141, 175, 177, 0.324);
}

.card.small {
  height: 93%;
  width: 32%;
}

.card.large {
  width: 95%;
  height: 60%;
  border-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 20%;
}

.card-content {
  display: flex;
  align-items: center;
  height: 85%;
}

.selected {
  color: #eeeeee;
  background: rgba(97, 120, 121, 0.132);
}