<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {title: 'Pokedex' }) %>
<script>
    let dist = 0;
    let ticking = false;
    let pokemon = <%- JSON.stringify(pokemon) %>;

    const preprocessMonImgs = () => {
        let index = 1;
        for (pokemon of pokemon) {
            let curMonImg = $('<img>');
            curMonImg.attr('src', pokemon.img);
            curMonImg.addClass('pokemon');
            let pokeNum = $('<div>');
            pokeNum.addClass('poke-num')
            pokeNum.text(pokemon.id);
            let monDiv = $('<a>');
            monDiv.attr('href','pokemon/'+index)
            monDiv.addClass('pokemon-card');
            monDiv.append(curMonImg);
            monDiv.append(pokeNum);
            $('.poke-display').append(monDiv);
            index++;
        }
    }

    const updatePokemonDisplay = () => {
        if (dist > 0) dist = 0;
        $('.poke-display').css('left', dist);
    }

    $(window).on('mousewheel', event => {
        if (!ticking) {
            window.requestAnimationFrame(function() {
                dist = dist + (event.originalEvent.wheelDeltaY / 3);
                updatePokemonDisplay();
                ticking = false;
            });
        }
        ticking = true;
    })

    $(document).ready( () => {
        preprocessMonImgs();
    })
</script>

<body>
    <body class="main box">
        <%- include("partials/navbar.ejs") %>
    
        <div class="view box">
            <div class="poke-display">
                <%= pokemon.name %> 
            </div>
        </div>
    </div>
</body>
</html>