<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %> 
        <main>
            <div class="list-group">
                <% for (animal of animals) { %> 
                <article >
                    <a href="/animals/<%= animal._id  %>" class="list-group-item list-group-item-action">
                        <h2><%= animal.species %></h2>
                    </a>
                </article>
                <% } %> 
                <a class="list-group-item list-group-item-action" href="/animals/new">Add new animal</a>
            </div>
        </main>
    </body>
</html>