@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Saira Semi Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  border-bottom: 3px solid #4ba9a1;
}

.nav-item {
  font-size: 4em;
  padding: 20px;
  text-decoration: none;
}

.green {
  color: green;
}

.red {
  color: red;
}