<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'New Item'}) %> 
<body>
    <div class="container">
        <h1>New Item</h1>
        <form action="/budget" method="POST">
            Name: <input type="text" name="name"><br>
            Date: <input type="text" name="date"><br>
            Amount: <input type="text" name="amount"><br>
            From: <input type="text" name="from"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>